<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body background="https://siss.ru/uploads/firm/gallery/276449/458544/medium.jpg">
<form th:action = "${'/Add/lab'}" method="post"  >
    <button style="color: blueviolet;height: 20px;width: 150px" class="btn btn-warning"  type="submit"> Добавить трудовую книгу</button>
</form>
</body>
</html>