<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Магазин спортивного инвентаря</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body  background="https://siss.ru/uploads/firm/gallery/276449/458544/medium.jpg">
<h1 style="color: #536872;text-align: center">Товар</h1>

<form th:action = "${'/Add/tovar'}" method="get"  >
  <button class="btn btn-warning" style="color: #415159; size: 50px; border:#000000;
      background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;
      transform: translate(80%,0)" type="submit"> Добавить товар</button>
</form><br>
<form th:action = "${'/Search/tovar'}" method="get"  >
  <button class="btn btn-warning" style="color: #415159; size: 50px; border:#000000;
     background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;
     transform: translate(80%,0)" type="submit"> Поиск товара</button>
</form><br>
<form th:action = "${'/Main'}" method="get"  >
  <button class="btn btn-warning" style="color: #415159; size: 50px; border:#000000;  background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;transform: translate(80%,0)"type="submit"> Назад</button>
</form><br>

<div th:each="el : ${tovar}" style="text-align: center">
  <label style="text-align: center"> Название товара:</label>
  <p style="text-align: center" th:text="${el.getNametovar()}"></p>
  <label style="text-align: center"> Тип товара:</label>
  <p style="text-align: center" th:text="${el.getProducttype()?.getTiptovara()}"></p>
  <label style="text-align: center"> Производитель:</label>
  <p style="text-align: center" th:text="${el.getProizvod()?.getCountry()}"></p>
  <a style="color: #415159; size: 50px; border:#000000; text-align: center" th:href="'/Tovar/' + ${el.id}"> Информация о товаре </a>
</div>
</body>
</html>