<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Магазин спортивного инвентаря</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body  background="https://siss.ru/uploads/firm/gallery/276449/458544/medium.jpg">
<h1 style="color: #536872;text-align: center">Чек</h1>

<form th:action = "${'/Add/check'}" method="get"  >
  <button style="color: #415159; size: 50px; border:#000000;
      background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;
      transform: translate(80%,0)" class="btn btn-warning" type="submit"> Добавить чек</button>
</form><br>
<form th:action = "${'/Search/check'}" method="get"  >
  <button style="color: #415159; size: 50px; border:#000000;
     background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;
     transform: translate(80%,0)" class="btn btn-warning" type="submit"> Поиск чека</button>
</form><br>
<form th:action = "${'/Main'}" method="get"  >
  <button class="btn btn-warning" style="color: #415159; size: 50px; border:#000000;  background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;transform: translate(80%,0)"type="submit"> Назад</button>
</form><br>

<div th:each="el : ${cheks}" style="text-align: center">
  <label style="text-align: center"> Товар:</label>
  <p style="text-align: center" th:text="${el.getTovar()?.getNametovar()}"></p>
  <label style="text-align: center"> Сумма:</label>
  <p style="text-align: center" th:text="${el.getSummi()}"></p>
  <label style="text-align: center"> Количество товара:</label>
  <p style="text-align: center" th:text="${el.getKolvotovar()}"></p>
  <label style="text-align: center"> Способ оплаты:</label>
  <p style="text-align: center" th:text="${el.getOplatasposob()?.getSposobsale()}"></p>
  <label style="text-align: center"> Сотрудник:</label>
  <p style="text-align: center" th:text="${el.getPersonal()?.getSurname()}"></p>
  <a style="color: #415159; size: 50px; border:#000000; text-align: center" th:href="'/Check/' + ${el.id}"> Информация о чеке </a>
</div>
</body>
</html>