<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин спортивного инвентаря</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body background="https://siss.ru/uploads/firm/gallery/276449/458544/medium.jpg">
<div th:insert="blocks/header"></div>
<h1 style="color: #536872;text-align: center">Аренда инвентаря</h1>
<form th:action = "${'/MainArenda'}" method="get"  >
  <button style="color: #415159; size: 50px; border:#000000;  background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;transform: translate(80%,0)" class="btn btn-warning" type="submit"> Аренда</button>
</form>
</body>
</html>